Options All -ExecCGI -Indexes -Includes +FollowSymLinks
#Options -MultiViews

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.MaiChauVietnam.github.io $ [NC]
RewriteRule ^(.*)$ http://MaiChauVietnam.github.io/$1 [R=301,L]
