Options All -ExecCGI -Indexes -Includes +FollowSymLinks
#Options -MultiViews

RewriteEngine on 
RewriteCond %{HTTP_HOST} ^www.maichauvietnam\.github.io [NC]
RewriteRule ^(.*)$ http://maichauvietnam.github.io/$1 [R=301,L]
